pipeline/pl_create_silver_tables.json
{
	"name": "pl_create_silver_tables",
	"properties": {
		"activities": [
			{
				"name": "Delete Silver Taxi Zone",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_nyc_taxi_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_folderPath": {
								"value": "@variables('v_folderPath')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "create silver taxi zone",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Silver Taxi Zone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('v_usp_name')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_folderPath": {
				"type": "String",
				"defaultValue": "silver/taxi_zone"
			},
			"v_usp_name": {
				"type": "String",
				"defaultValue": "silver.usp_taxi_zone"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-29T05:44:20Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}